@media all and (max-width:601px), all and (max-height: 450px){
	#add_action_table_mobile{
		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #FFF;
		height: calc(~"100vh - 56px");
		-webkit-overflow-scrolling: touch;
	}

	#person_avatar_mobile{cursor: pointer; }
	.material-icons { color: #59595B; }
	.mdi-navigation-arrow-drop-down { color: #C5C6CA !important; }

	.avatar_panel_mobile,
	.activity_panel_mobile,
	.activity_params_panel_mobile,
	.date_time_panel_mobile,
	.notes_panel_mobile{
		height: 70px;
		width: 100vw;
		margin-top: 5px;
		margin-bottom: 5px;
		input {color: #7C7D7F;} 
	}

	.illustration,
	.information{
		float: left;
		height: 70px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.illustration{
		width: 16.666666666666666666666666666667%;
		position: relative;
		img{ .centrify("both"); }
		i{
			font-size: 2.2rem;
			width: 50%;
			height: 50%;
			.transition(color, .2s);
			.centrify("both");
		}
	}

	.information{
		width: 83.333333333333333333333333333333%;
		position: relative;
		.select-wrapper, 
		.input-wrapper{  
			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
		.dropdown-content{max-height: 200px;}
	}

	.avatar_panel_mobile{
		.illustration img { width: 42px; height: 42px;}
		.illustration img.round-image { border-radius: 50%;}
	}

	.activity_panel_mobile {
		.illustration img { width: 30px; height: 30px;}
	}


	.input-field label{
		left: 0rem !important;	/* align label to the left side of an input box*/
	}

	.activity_params_panel_mobile{
		.information .input-wrapper{
			float: left;
			margin-right: 5%;
			margin-left: 5%;
			&:first-of-type{  width: 50%; }
			&:nth-of-type(2){  width: 30%; }
		}
	}

	.picker--opened .picker__holder{ background: rgba(0, 0, 0, 0.46) !important; }

	.picker--opened	.picker__frame, 
	.picker--opened	.picker__box{ 
		.centrify("vertical");
	}


	.popover-main{
		outline: none;
		position: absolute;
		z-index: 10000;
	}

	.popover{
		position: absolute;
		display: block !important;
		z-index: 10000 !important;
		max-width: none !important;
		transition: all 0.4s ease-in-out !important;
		-webkit-user-select: none;
		left: 0rem !important;
		margin: 0 !important;

	}

	.popover__holder{
		top:0;
		position: fixed;
		transition: background 0.15s ease-out,top 0s 0.15s;
		zoom: 1;
		width: 100%;
		overflow-y: auto;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.46) !important;
	}

	.popover__frame{
		.centrify("both");
		max-width: 325px;
		overflow: visible;
		max-width: 290px;
		max-height: 482.797px;
		transition: all 0.15s ease-out;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}

	.popover__wrap{
		display: block;
		width: 100%;
		height: 100%;
	}

	.popover__box{
		padding: 0;
		width: 100%;
		border: 0 !important;
		border-radius: 2px;
		overflow: hidden;
		height: 100%;
		box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24) !important;
		background-color: #FAFAFA;
	}

	.clockpicker-span-am-pm{
		font-size: 1rem;
		margin-right: 40px;
	}

	.clockpicker-span-hours,
	.clockpicker-span-minutes{
		line-height: 5.5rem;
	}

	.clockpicker-popover .popover-title {
		background-color: #009688;
		color: #B8E1DD;
		font-size: 3rem;
		font-weight: normal;
		text-align: right;
		border-radius: 0 !important;
	}

	.clockpicker-popover .popover-content {
		background-color: #fAf8f8;
		margin-top: 20px;
	}

	.text-primary {
		color: #ffffff;
	}

	.btn-block{
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 13px 24px !important;
		text-align: left !important;
		color: #26a69a;
		background-color: #FAFAFA;
	}

	.popover-title{	padding: 0; }
	
	.clockpicker-plate {
		background-color: #eee;
		border: 0;
		width: 268.813px;
		height: 268.813px;
	}

	.clockpicker-button.pm-button { margin: 1px 1px 1px 130px; }
	
	.clockpicker-button.am-button, 
	.clockpicker-button.pm-button{ 
		padding: 10px;
		border-radius: 50%;
	}

	.clockpicker-am-pm-block{
		text-align: center;
	}

	.clockpicker-canvas, .clockpicker-dial{
		width: 240.813px;
		height: 240.813px;
	}
}