@media all and (max-width:601px), all and (max-height: 450px){
	#select_baby_table_mobile,
	#remove_baby_table_mobile{
		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #FFF;
		height: calc(~"100vh - 56px");
		-webkit-overflow-scrolling: touch;
	}

	#select_baby_table_mobile section,
	#remove_baby_table_mobile section{
		width: 100vw;
		margin-top: 2px;
	}

	.image-grid-block{
		float: left;
		position: relative;
		width: 49%;
		padding-bottom: 49%; /* = width for a 1:1 aspect ratio */
		margin: 0.5%;
		visibility: visible;
		opacity: 1; 
		.transition( visibility 1s linear 0s, opacity 1s linear 0s; );
		.image-grid-block-content{
			position:absolute;
			height:	100%; 
			width:	100%;
			img{
				height:	100%; 
				width:	100%;
			}
			.image-grid-block-text{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 48px;
				line-height: 48px;
				vertical-align: middle;
				color: white;
				font-size: 1.3rem;
				padding-left: 16px;
			}
		}
	}

	.image-grid-block-content::before {
		content: "";
		position: absolute;
		bottom: 0px;
		height: 48px;
		width: 100%;
		background-color: black;
		opacity: 0.45;
	}

	/* customize CreateBabyButton */
	@diameter: 50px;

	.create_baby_button_mobile {
		float: left;
		position: relative;
		border: thin solid #40AEFF;
		width: 49%;
		padding-bottom: 49%; /* = width for a 1:1 aspect ratio */
		margin: 0.5%;
		visibility: visible;
		opacity: 1;
		img{ .centrify("both"); }
	}

	.aqua{ background-color: #18F9F9 !important; }

	.prop--hidden{
		visibility:hidden;
		opacity:0;
	}

	/******************************/
}






















